#jumbohome {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('virus.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0;
}

#jumbohome h1 {
    color: white;
    font-weight: 400;
}

#jumbograph {
    background-color:rgb(230, 249, 255);
}

#jumboparameters {
    background-color:rgb(230, 249, 255);
}