{% extends "generic.html" %}
{% block contents %}
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            {% if var %}
                <h1>Virus Spread Simulation</h1>
                <div class="row">
                    <div class="col-sm-9">
                        <p class="lead">Choose parameters</p>
                        <form action="{% url 'form:simulation' %}" method="post" id="parametersForm">

                            <div class="form-group">
                                <label for="individuals">Amount of people</label>
                                <input type="number" name="individuals" class="form-control" id="individuals" aria-describedby="indivHelp" min="0" placeholder="1000">
                                <small id="indivHelp" class="form-text text-muted pb-3">Recommended up to 10000 people</small>
                            </div>
                            <div class="form-group">
                                <label for="incubation">Incubation Time</label>
                                <input type="number" name="incubation" class="form-control" id="incubation" aria-describedby="incubHelp" min="0" placeholder="1">
                                <small id="incubHelp" class="form-text text-muted pb-3">Unlimited</small>
                            </div>
                            <div class="form-group">
                                <label for="symptom">Symptomatic Seed</label>
                                <input type="number" name="symptomatic" class="form-control" id="symptom" aria-describedby="symptomHelp" placeholder="10" min="0" max="90">
                                <small id="symptomHelp" class="form-text text-muted pb-3">0-90</small>
                            </div>
                            <div class="form-group">
                                <label for="symptom">Immunity Rate</label>
                                <input type="number" name="immunity" class="form-control" id="immun" aria-describedby="immunHelp" placeholder="10" min="0" max="90">
                                <small id="immunHelp" class="form-text text-muted pb-3">0-90</small>
                            </div>
                            <div class="form-group">
                                <label for="mortalityRate">Mortality Rate</label>
                                <input type="number" name="mortality" class="form-control" id="mortalityRate" aria-describedby="mortHelp" placeholder="10" min="0" max="100">
                                <small id="mortHelp" class="form-text text-muted pb-3">0-100</small>
                            </div>
                            <!--<div class="form-group">
                                <label for="previewAccess">Interested in Preview Access?</label>
                                <select class="form-control" name="previewAccess" id="previewAccess">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>-->
                            <div class="form-group">
                                <label for="scaleCity">Scale City</label>
                                <input type="number" name="scale_city" class="form-control" id="scaleCity" aria-describedby="scaleHelp" placeholder="10" min="0">
                                <small id="scaleHelp" class="form-text text-muted pb-3">>0</small>
                            </div>
                            <div class="form-group">
                                <label for="maxRounds">Maximum Amount of Numbers</label>
                                <input type="number" name="max_rounds" class="form-control" id="maxRounds" aria-describedby="roundsHelp" placeholder="10" min="0">
                                <small id="roundsHelp" class="form-text text-muted pb-3">>0</small>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="beacons" class="form-check-input" id="beacons" aria-describedby="beaconsHelp">
                                <label class="form-check-label" for="beacons">Beacons</label>
                                <small id="beaconsHelp" class="form-text text-muted pb-3">Use beacons?</small>
                            </div>
                            {% csrf_token %}<!--Necessary tag...-->
                            <input type="hidden" name="id_simulation">
                        </form>


                        <button type="button" type = "submit"  id="test-button">Allocate city.</button>
                        <button type="button" type = "submit"  id="test-button2" disabled>Start simulation.</button>

                    </div>
                </div></div>
            {% else %}
                <div class="jumbotron" id="simstart">
                    <h1>Virus Spread Simulation</h1>
                    <div class="row">
                        <div class="col-sm-9">
                            <p>Another simulation has already been started :(</p>
                            <p><a class="btn btn-success" href="{% url 'form:simulation' %}">Go to the simulation</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}


    <script>


    $("#test-button").click(function(){

            var individuals= document.getElementById("individuals").value;
            var incubation_time=document.getElementById("incubation").value;
            var symptomatic_seed=document.getElementById("symptom").value;
            var immunity_rate=document.getElementById("immun").value;
            var mortality_rate=document.getElementById("mortalityRate").value;
            var scale_city=document.getElementById("scaleCity").value;
            var max_rounds=document.getElementById("maxRounds").value;
            var beacons=document.getElementById("individuals").value;

            var aux_data = {"individuals": individuals,"incubation": incubation_time,"symptomatic": symptomatic_seed,"immunity": immunity_rate,"mortality": mortality_rate, "beacons": "False","scale_city": scale_city,"max_rounds": max_rounds}

            jQuery.ajax ({
                url: "https://860ty33200.execute-api.eu-west-1.amazonaws.com/ccbda/allocate-city",
                type: "POST",
                data: JSON.stringify(aux_data),
                dataType: "json",
                contentType: "application/json"
	        }).done(function(data){
	            console.log(data);

                $("#test-button2").removeAttr("disabled");
	            $("#test-button").prop('disabled', 'disabled');

	        }).fail(function(xhr, error){
	            console.log(error);

	        })
    });

    $("#test-button2").click(function(){
            var aux_data = {"command": "run"}

            jQuery.ajax ({
                url: "https://860ty33200.execute-api.eu-west-1.amazonaws.com/ccbda/job-issuer",
                type: "POST",
                data: JSON.stringify(aux_data),
                dataType: "json",
                contentType: "application/json"
	        }).done(function(data){
	            console.log(data);

                //window.location.href="{% url 'form:simulation' %}";
                document.getElementById("parametersForm").submit();

	        }).fail(function(xhr, error){
	            console.log(error);

	        })
    });



    </script>
{% endblock %}
