{% extends "generic.html" %}
{% block contents %}
    <div class="row justify-content-md-center">
        <div class="col-sm-12">
            <div class="jumbotron" id="jumboparameters">
                <p class="lead">Parameters of current simulation</p>
                <p id="individuals">Individuals: {{ individuals }}</p>
                <p id="incubation">Incubation: {{ incubation }}</p>
                <p id="symptomatic">Symptomatic: {{ symptomatic }}</p>
                <p id="immunity">Immunity: {{ immunity }}</p>
                <p id="mortality">Mortality: {{ mortality }}</p>
                <p id="scale_city">Scale of city: {{ scale_city }}</p>
                <p id="max_rounds">Max. rounds: {{ max_rounds }}</p>
                <p id="beacons">Beacons: {{ beacons }}</p>
            </div>
            <div class="jumbotron" id="jumbograph">
                <div class="row">
                    <div class="col-sm-12">
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                        </figure>
                        <p class="pt-3 d-flex justify-content-center"><a class="btn btn-success" href="{% url 'form:home' %}">Back to the homepage</a></p>
                        <div align="center"><button id="stop" type="submit" class="pt-1 btn btn-success">Stop simulation</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>

        $.get("https://860ty33200.execute-api.eu-west-1.amazonaws.com/ccbda/stats?id=1", function(data, status){
                console.log(data);

	            $("#individuals").html("Individuals: " +"hola");


        });
    </script>

    <script>
        // retrieves statistics using GET, refreshes graph data every 10 seconds
        $(function() {
            function refresh(){
                $.get("https://860ty33200.execute-api.eu-west-1.amazonaws.com/ccbda/stats?id=1", function(data, status){
                    console.log(data);

	                round= data.round;

                    infected.push([round,data.stats.infected]);
	                immune.push([round,data.stats.immune]);
	                dead.push([round,data.stats.dead]);

	                print_chart(round);
                });
            }
            var refreshIntervalId = setInterval(refresh, 10000);
        });
    </script>

    <script>
        // sends POST to stop simulatiom
        $("#stop").click(function(){

            var aux_data = {"command": "stop", "id":"{{ id_simulation }}"}

            jQuery.ajax ({
                url: "https://860ty33200.execute-api.eu-west-1.amazonaws.com/ccbda/job-issuer",
                type: "POST",
                data: JSON.stringify(aux_data),
                dataType: "json",
                contentType: "application/json"
	        }).done(function(data){
	            console.log(data);
	        }).fail(function(xhr, error){
	            console.log(error);
	        })
        });
    </script>

    <script>

        var infected = [[0,0]];
        var immune = [[0,0]];
        var dead = [[0,0]];

        function print_chart(number_of_rounds) {

            Highcharts.chart('container', {

                title: {
                    text: 'Simulation statistics by round'
                },

                yAxis: {
                    title: {
                        text: 'People'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 0 to '+ number_of_rounds.toString()
                    },
                    title: {
                        text: 'Round'
                    }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 0
                    }
                },

                series: [{
                    name: 'Infected',
                    data: infected
                }, {
                    name: 'Immune',
                    data: immune
                }, {
                    name: 'Dead',
                    data: dead
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        }
        print_chart(0);
    </script>
{% endblock %}